body {
    font-family:'Times New Roman', Times, serif;
}

.imagebanner {
    background-image: url("images/clouds.jpg");
    background-size: cover;

}

h2 {
    text-align:center;
    color:blue
}

li {
    color:deepskyblue;
    background-color:black
    
}